<!doctype html>
<html lang="en">


<head>
<!-- Global site tag (gtag.js) - Google Analytics -->

        <!-- REQUIRED META TAGS -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- Owl Theme Default Min CSS -->
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <!-- Animate Min CSS -->
		<link rel="stylesheet" href="/css/animate.min.css">
        <!-- FontAwesome Min CSS -->
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="/css/flaticon.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/css/responsive.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <title>
            <% if (typeof title !== 'undefined') { %>
                <%= title %>
              <% } else { %>
                Heena Pest Control Servvices
              <% } %>
        </title>
        <meta name="title" content="Heena Pest Control Services in Vapi, Silvassa, Valsad, Umargam India.">
        <meta name="description" content="<% if (typeof description !== 'undefined') { %>
            <%= title %>
          <% } else { %>
            Default Title
          <% } %>">
        <meta name="keywords" content="<% if (typeof keywords !== 'undefined') { %>
            <%= title %>
          <% } else { %>
            Default Title
          <% } %>">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="EN">
        <meta name="revisit-after" content="7 days">
        <meta name="author" content="Heena Pest Control Services">

        <meta property="og:title" content="HPCS : Best Pest Control Service Provider" />
        <meta property="og:description" content="Leading Pest Control, Fumigation & Bird Netting service provider." />
        <meta property="og:image" content="https://heenapestcontrol.com/img/hpcs-logo.png" />

        <!-- Favicon -->
            <link rel="icon" type="image/png" href="/img/1.png">
            <link rel="canonical" href="heenapestcontrol.com" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <!-- <a href="https://api.whatsapp.com/send?phone=919825176003" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
            </a> -->

            <!-- <script>(function(w, d) { w.CollectId = "64004802bddfe03b3a3ce51e"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script> -->
    </head>

    <body>
        <!-- Start Header Area -->
        <header class="header-section">



            <!-- Start Top Header Area -->
            <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/hpc.vapi/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/hpc.vapi/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>

                        <div class="col-lg-9 col-md-10">
                            <ul class="header-contact-info">
                                <!-- <li><i class="far fa-clock"></i> Monday - Friday (8.00AM - 6.00PM)</li> -->
                                <li><i class="fas fa-phone"></i> <a href="tel:919825176003">+91 98251 76003</a></li>
                                <li><i class="fas fa-envelope"></i> <a href="mailto:info@heenapestcontrol.com"><span class="__cf_email__" data-cfemail="a4cfc8cdcad7c5e4c1c9c5cdc88ac7cbc9">info@heenapestcontrol.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Header Area -->




            <!-- Start Navbar Area -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#"><img src="/img/hpcs-logo.png" alt="Heena Pest Control Services" width="200px"></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link active" href="/" role="button"  aria-haspopup="true" aria-expanded="false">Home</a>
                            </li>

                            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/general-pest-control-service">General Pest Control  </a>
                                    <a class="dropdown-item" href="#">Rodent Control     </a>
                                    <a class="dropdown-item" href="#">Cockroach Pest Control </a>
                                    <a class="dropdown-item" href="#">Wood Borer Treatment     </a>
                                    <a class="dropdown-item" href="#">Commercial Pest Control  </a>
                                    <a class="dropdown-item" href="#">Industrial Pest Control   </a>
                                    <a class="dropdown-item" href="#">Termite treatment      </a>
                                    <a class="dropdown-item" href="#">Herbal Pest Control    </a>
                                    <a class="dropdown-item" href="#">All Types Of Insecticide Treatment         </a>
                                    <a class="dropdown-item" href="#">Fogging   </a>
                                    <a class="dropdown-item" href="#">Anti Termite Treatment  </a>
                                    <a class="dropdown-item" href="#">Termite Treatment In Bangalore</a>
                                    <a class="dropdown-item" href="#">Sanitization Service</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Career</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar Area -->

        </header>
        <!-- End Header Area -->


        <%- body -%>


        <!-- Start Footer Area -->
        <section class="footer-section extra-pt">
            <div class="footer-shape-1"></div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <a class="footer-logo" href=""><img src="/img/hpcs-logo-w.png" alt="HPCS Logo" width="200px" ></a>

                                <p>We guarantee a safe, effective and professional job every time. Through years of education, training & modern technology and year of experience.                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-3 ml-3">
                            <h3>Quick Link</h3>

                            <ul class="footer-nav-list">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="https://chatbot.page/ZrZq0j">Contact Us</a></li>
                                <li><a href="#">Career</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Heena Pest Control (Vapi)     </h3>

                            <ul class="footer-info-list">
                                <li>103, Bhavya Arcade, Near Ayush Hospital, Balitha, Vapi-396191, India</li>

                                <li><a href="tel:919974806633">+919825176003</a></li>

                                <li><a href="mailto:info@heenapestcontrol.com">info@heenapestcontrol.com</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Heena Pest Control Silvassa     </h3>

                            <ul class="footer-info-list">
                                <li>
                                    We provide service in entire Dadra & Nagar Haveli (Silvassa)
                                </li>

                                <li><a href="tel:919974806633">+919974806633</a></li>

                                <li><a href="mailto:info@heenapestcontrol.com">info@heenapestcontrol.com</span></a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Heena Pest Control Daman     </h3>

                            <ul class="footer-info-list">
                                <li>
                                    We provide service in entire Daman.
                                </li>

                                <li><a href="tel:919974806633">+919974806633</a></li>

                                <li><a href="mailto:info@heenapestcontrol.com">info@heenapestcontrol.com</span></a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Heena Pest Control Valsad     </h3>

                            <ul class="footer-info-list">
                                <li>
                                    We provide service in entire Valsad District.
                                </li>

                                <li><a href="tel:919974806633">+919974806633</a></li>

                                <li><a href="mailto:info@heenapestcontrol.com">info@heenapestcontrol.com</span></a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Heena Pest Control Umargam     </h3>

                            <ul class="footer-info-list">
                                <li>
                                    We provide service in entire Umargam and Near by Areas.
                                </li>

                                <li><a href="tel:919974806633">+919974806633</a></li>

                                <li><a href="mailto:info@heenapestcontrol.com">info@heenapestcontrol.com</span></a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Heena Pest Control Sachin / Surat     </h3>

                            <ul class="footer-info-list">
                                <li>
                                    We provide service in entire Surat, Sachin, Navsari and Near by Areas.
                                </li>

                                <li><a href="tel:919974806633">+919974806633</a></li>

                                <li><a href="mailto:info@heenapestcontrol.com">info@heenapestcontrol.com</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <p>
                        Copyright ©2023 Heena Pest Control Services Designed By
                        <a href="http://adguru.link/" target="_blank">Khushi Infotech</a>
                    </p>
                </div>
            </div>

            <div class="footer-shape-2"></div>
        </section>
        <!-- End Footer Area -->

        <!-- jquery Min JS -->
        <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap Bundle Min JS -->
        <script src="/js/bootstrap.bundle.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="/js/owl.carousel.min.js"></script>
        <!-- WOW Min JS -->
		<script src="/js/wow.min.js"></script>
        <!-- AjaxChimp Min JS -->
        <script src="/js/ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="/js/form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="/js/contact-form-script.js"></script>
        <!-- Active JS -->
        <script src="/js/active.js"></script>
    </body>

</html>
