<!-- Start Page Title Area -->
<section class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h1>404 Page Not Found</h1>

                    <ul class="back-to-home">
                        <li><a href="/">Home</a></li>
                        <li>404 Page Not Found</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Page Title Area -->


<section class="about-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img wow fadeInLeft" data-wow-delay=".5s">
                    <img src="/img/service/404.jpg" alt="Anti-Termite Treatment">
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-text">
                    <h1>404 - Page Not Found</h1>
                    <p>
                        Oops! It seems like the page you are looking for does not exist.
                    </p>
                    <p>
                        Please check the URL you entered or click the button below to go back to the homepage.
                    </p>
                    <a href="/">Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->