
<!-- Start Page Title Area -->
<section class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h1>About Us</h1>

                    <ul class="back-to-home">
                        <li><a href="/">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img wow fadeInLeft" data-wow-delay=".5s">
                    <img src="img/service/about.png" alt="image">
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-text">
                    <h1>We are the best Commercial and Industrial Pest Control & Fumigation Solution provider </h1>
                    <p>We guarantee a safe, effective and professional job every time. Through years of education,
                        training & modern technology and year of experience. </p>

                    <p>Heena Pest Control Services is one of the most reputed companies dealing in the Pest Control Services, Fumigation Services(Industrial Pest Control & Commercial pest Control) and Bird Netting Service. With the help of highly
                        qualified and experienced team of professionals, we are actively serving the clients with
                        efficient and effective services . </p>
                    <p>We uses only eco-friendly and approved chemicals for pest control. Our team members have clear
                        understanding of the procedures followed for the effective pest control services.</p>
                    <p>We also take care of your health while providing services and hence, we are the preferred choice
                        of the clients. We are committed to provide best Industrial Pest Control & Commercial pest
                        Contro services and to maintain healthy business relation with every client. The chemicals used
                        by us are sourced from the authentic and trusted vendors who always follow the rules regarding
                        the production of chemicals. So far there are not adverse health hazard related complaints
                        reported against us. We also carry the MSDS of all the chemicals that we use for the effective
                        pest control. </p>



                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Why Choose Us Area -->
<section class="why-choose-section">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-8 col-md-8 p-0">
                <div class="why-choose-wrapper">
                    <div class="section-title text-left">
                        <span>Who We Are</span>
                        <h2>Reason why you choose us</h2>
                        <p>We set a new standard in efficient service, effective products, application techniques, and
                            the experience to deal with every possible pest problem. We guarantee your satisfaction with
                            those results. Each one of our people--field technicians as well as support staff--is a
                            career professional who is dedicated to dealing with Commercial Pest Control & Industrial
                            pest control services. It’s not just our job - excellence in pest control services is our
                            commitment </p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-6">
                            <div class="choose-text-wrapper">
                                <div class="icon">
                                    <i class="flaticon-service"></i>
                                </div>

                                <h3>Experienced Staff</h3>
                                <p>We have well experienced staff to provide best pest control services to you. </p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-6">
                            <div class="choose-text-wrapper">
                                <div class="icon">
                                    <i class="flaticon-product"></i>
                                </div>

                                <h3>Natural Products</h3>
                                <p>We use natural products for best results.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-6">
                            <div class="choose-text-wrapper">
                                <div class="icon">
                                    <i class="flaticon-scooter"></i>
                                </div>

                                <h3>Fast Service</h3>
                                <p>Our aim to give best and fast pest control services for any kind of solutions.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-6">
                            <div class="choose-text-wrapper">
                                <div class="icon">
                                    <i class="flaticon-heavy"></i>
                                </div>

                                <h3>Best Equipment</h3>
                                <p>Heena Pest Control Services use best equipment and aware from any risk.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 p-0">
                <div class="why-choose-img">
                    <img src="img/choose-1.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Why Choose Us Area -->
<!-- Start About Area -->
<section class="about-section ptb-100" style="margin-top: -30px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="about-text">
                    <h2>Call Us At Our Helpline No +91 99748 06633 To Get Free Pest Inspection & Quotation.
                    </h2>

                    <p>Our company not only provides insect management solutions (Commercial pest control india) but
                        also provides training on the prohibited bug sprays and the side effects due to it. Heena Pest
                        Control uses only eco-friendly and accepted substances for insect management. Our associates
                        have obvious knowing of the techniques followed for the effective insect management and hence,
                        the solutions provides by us are unrivaled in quality. We are well outfitted with the most
                        innovative technological innovation to management or reduce the unwanted pest infestations from
                        your property.</p>
                    <p>The substances used by as are found from the genuine and reliable services who always follow the
                        guidelines regarding the of substances. So far there are not negative health risks related
                        problems revealed against us. We also carry the MSDS of all the substances that we use for the
                        effective insect management. Safety is our top most concern while healing the property and the
                        rate of bug sprays used by us is little in comparison with other companies. We also offer close
                        tracking and provide post insect management services./ </p>

                    <h3>Heena Pest Control Services Advantage </h3>
                    <ul>
                        <li><i class="fas fa-check"></i> Odour less pest control treatment for allergy prevention </li>
                        <li><i class="fas fa-check"></i> WHO certified chemicals 100% safe for humans & household pets
                        </li>
                        <li><i class="fas fa-check"></i> Shortest response time for amc service & complaint resolution
                        </li>
                        <li><i class="fas fa-check"></i>Professional technicians with years of experience </li>
                        <li><i class="fas fa-check"></i> Advance chemicals & equipments for best pest control results
                        </li>
                        <li><i class="fas fa-check"></i> Individual Service Manager support for AMC contracts </li>
                        <li><i class="fas fa-check"></i> Customized pest control solutions for corporate & industries
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->