<div class="container">
    <div class="row">
        <div class="col-6">
            <iframe src="https://chatbot.page/ZrZq0j" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-6 ">    
                <h2>Contacts</h2>
                <p> <b>Email</b> <a href="mailto:heenapestcontrol@hotmail.com">heenapestcontrol@hotmail.com</a></p>
                <p> <b>Mobile</b> 
                    <a href="tel:+919825176003">+91 98251 76003</a></p>
                
                <hr>

                <div class="">
                    <h2>Address</h2>
                    <h6>Head Office</h6>
                    <p>103, Bhavya Arcade, Near Ayush Hospital, Balitha, Vapi, Gujarat - 396191</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.980751849123!2d72.90961267508702!3d20.38368348110915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0cf7686a171cd%3A0x58daa3479af22f7d!2sHeena%20Pest%20Control%20Services!5e0!3m2!1sen!2sin!4v1685697552119!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    
                    <hr>
            </div>
        </div>
    </div>
</div>
